@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.an {
	animation-name: out;
	animation-duration: 0.5s;
}

@keyframes out {
	from {
		transform: translateY(-30px);
	}
	to {
		transform: translateX(0px);
	}
}

.ban {
	background-image: linear-gradient(
		90deg,
		hsla(0, 0%, 8%, 0) 0,
		hsla(0, 0%, 8%, 0.15) 15%,
		hsla(0, 0%, 8%, 0.35) 29%,
		hsla(0, 0%, 8%, 0.58) 44%,
		#141414 68%,
		#141414
	);
	background-position: 0 top;
	background-repeat: repeat-x;
	background-size: 100% 100%;
}

.mask {
	-webkit-mask-image: linear-gradient(to top, transparent 1%, black 10%);
	mask-image: linear-gradient(to top, transparent 1%, black 90%);
}
